body{
    background-color: #FFE5E5;
}

div{
    margin-left: 40%;
}

img{
    margin-top: 30px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    border-style: solid;
}

h3{
    margin-left: 5%;
}

